---
UseTab: Always
IndentWidth: 2
TabWidth: 2
ColumnLimit: 88
ContinuationIndentWidth: 2
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
AlignEscapedNewlines: DontAlign
AlignTrailingComments:
  Kind: Never
AlignOperands: DontAlign
